body {
	background-image: url("../images/cartoon_network.jpg");
	background-position: 0 247px; 
}

button { /* Green */
	color: #2C2C2C;
	background-color: #ffffff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.color {
	color: #ffffff;
	background-color: #38AE00;
}
